/* Color Palette */
/*
White;  #FFF
Green;  #379B1B
Blue;   #375FDD
Orange; #E59A2E
Gray;   #CECECE
*/

$font : 40px;

/* Global */


html {
	height: 100%;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: white;
	font-family: "KoHo";
	display: inline-block;
	text-align: center;
}
/* Header/nav */

nav {
	width: 100%;
	position: fixed;
	background-color: #E59A2E;
	min-width: 85px;
	z-index: +1;
	top: 0;
}
nav > span:last-child {
	border-right: white solid 2px;
	padding-top: 15px; 
	padding-bottom: 7px; 
}
span > a {
	font-size: 12px;
	border-left: white solid 2px;
	padding-top: 10px; 
	padding-bottom: 7px; 
}
#nav-header {
	font-size: 18px;
}

/* Main */

article {
	margin-left: 16.66%;
	margin-top: 100px;
	margin-right: 8.33%;
}
section {
	box-sizing: content-box;
	border-radius: 1px 1px 1px 1px;
	margin-top: 80px;
	white-space: normal;
	background-color: #CECECE;
	font-family: "KoHo", sans-serif;

}
ul {
	list-style-image: url("images/icon-design.jpg"); 
}
h3 {
	margin: 10px 5px;
}
.text {
	padding: 10px 10px;
	font-family: "KoHo", sans-serif;
	font-size: 14px;
}
.header {
	font-family: "KoHo", sans-serif;
	font-size: 22px;
	padding: 20px 0 0 20px;
}
.grafic-wrapper {
	display: inline-block;
	float: left;
}
#grafic-element-left-square {
	height: 1800px;
	width: 2px;
	background-color: black;
	margin-left: auto; 
	margin-right: auto;
	z-index: -2;
	box-sizing: content-box;
	margin-top: -80px;
}
.grafic-element-left-sircle {
	width: 15px;
	height: 15px;
	background-color: #375FDD;
	border-radius: 100%;
	margin-left: auto; 
	margin-right: auto;
	vertical-align: 100px;
	position: relative;
	margin-bottom: -45px;
}
#first-sircle {
	bottom: 1690px;
}
#second-sircle {
	bottom: 1290px;
}
#third-sircle {
	bottom: 890px;
}
#forth-sircle {
	bottom: 480px;
}
figure {
	margin: 0;
	padding: 0; 
}
figure:hover > figcaption {
	display: block;
}
figure:active > figcaption {
	display: block;
}
img {
	position: relative;
	top: 20px;
	width: 100%;
	border-radius: 0 0 1px 1px;
	border-top: 15px solid #375FDD;
}
figcaption {
	font-size: 12px;
	position: relative;
	text-align: center;
	margin-bottom: -16px;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px 5px 1px 1px;
	color: #CECECE;
}
.more-info {
	display: none;
}
button {
	background-color: #379B1B;
	border: none;
	position: relative;
	right: auto;
}
button:active {
	background-color: #2A7514;
}
#second-section {
	border-radius: 1px 1px 1px 1px;
}
#third-section {
	border-radius: 1px;
}
#forth-section {
	border-radius: 1px 1px 1px 1px;
}
#forth-section img {
	border-radius: 0 0 1px 1px;
}
#forth-section figcaption {
	border-radius: 5px 5px 1px 1px;
}
/* Footer */

footer {
	clear: both;
	position: absolute;
	z-index: 1;
	background-color: #E59A2E;
	bottom: 0;
	width: 100%;
	font-family: "KoHo", sans-serif;
	color: white;
}
html > body > footer {
	
}

/* Media @ */

@media only screen and (min-width: 800px) {
	body {
		
	}
	article {
		width: 100%;
		margin-left: 0;
		margin-right: 0; 
		margin-top: 20px;
		display: inline-block;
	}
	section {
		float: left;
		margin-right: 30px;
		width: 45%;
		height: 450px;
	}
	p {
		width: 90%;
	}
	button {
		display: inline-block;
	}
	nav > span > a {
		font-size: 18px;
		padding-top: 12px;
	}
	nav > span {
		padding: 20px 0;
	}
	#nav-header {
		font-size: 30px;
	}
	.more-info {
		display: inline-block;
	}
	#grafic-element-left-square {
		height: 1300px;
	}
	#first-sircle {
	bottom: 1080px;
	}
	#second-sircle {
		bottom: 520px;
	}
	#third-sircle {
		display: none;
	}
	#forth-sircle {
		display: none;
	}

}
	

/* Grid */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}